VITE_CURSO_API=https://api.example.com/cursos
VITE_MENSAJERIA_API=https://api.example.com/mensajeria
VITE_ASIGNATURA_API=https://api.example.com/asignaturas
VITE_AUTH_API_URL=https://api.example.com/auth
